html, body {
  color: white;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 5px;
}

* {
  box-sizing: inherit;
}

/* sm */
@media (min-width: 768px) {
  html {
    font-size: 8px;
  }
}

/* md */
@media (min-width: 992px) {
  html {
    font-size: 11px;
  }
}

/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

h1 {
  font-size: 4rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.title {
  font-size: 4.5rem;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.route {
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: bold;
  overflow: hidden;
  padding: 0 20px;
}

.route_arrival {
  text-align: right;
}

.connectivity_note {
  text-align: center;
  font-size: 5rem;
}
