html, body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.title {
  color: white;
  font-size: 4.5em;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.route {
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: bold;
  overflow: hidden;
}


@media (min-width: 900px) {
  .route_long_name {
    margin-right: -40px;
  }
  
  .route_short_name {
    margin-left: 20px;
  }

  .alert-icon img {
    width: 50px;
    height: 50px;
  }
}

.route_arrival {
  text-align: right;
}

.hidden {
  display: none !important;
}

.connectivity_note {
  text-align: center;
  font-size: 5em;
  color: white;
}

@media (max-width: 900px) {
  .text-center-xs {
    text-align: center;
  }

  .route {
    font-size: 1em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2em;
    margin: 10px auto;
    text-align: center;
    width: 75%;
  }

  h1.title {
    color: white;
    font-size: 2.25em;
    text-align: center;
  }

  .alert-icon img {
    height: 25px;
    width: 25px;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.alert-icon img {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10;
  opacity: 0.75;
}
