html, body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

h1.title {
  color: white;
  font-size: 2.25em;
  text-align: center;
}

h2, h3, h4{
  color: white;
  display: inline-block;
}

h4{
  padding-left: 0.25em;
}

.load-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
}

.loader {
  position: relative;
  top: 50%;
  height: 20px;
  margin-top: -10px;
}

.fadeable.fade{
    opacity: 0;
}

.fadeable {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
   opacity: 1;
}

.routes, .nearby-stops, .stops {
  width: 100%;
}

.go-button-holder {
  margin-top: 20px;
}

h2 {
  text-align: center;
}

h3 {
  color: white;
}

.or {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  h1 {
    color: white;
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h1.title {
    color: white;
    font-size: 4.5em;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
  }

  h2 {
    color: white;
    font-size: 3em;
    text-align: left;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
